# Contentful
REACT_APP_CONTENTFUL_SPACE_ID=
REACT_APP_CONTENTFUL_ACCESS_TOKEN=
REACT_APP_CONTENTFUL_ENV=

# Google API
REACT_APP_SHEETS_API_KEY=
REACT_APP_SHEET_URL_CONTENT=
REACT_APP_SHEET_URL_MEDIA=
