.artistpage {
    width: 50.63%;
    height: 90%;
    min-width: 390px;
    min-height: 693.33px;
    max-width: 400px;
    max-height: 711.11px;
    background-color: #fff;
}

.artistpage .top {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 50.63%;
    min-width: 390px;
    max-width: 400px;
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(5px);
}
  
.artistpage .top>.top-icon {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    color: #fff;
}

.artistpage .top>.top-icon:first-child {
    cursor: pointer;
}

.artistpage .artist-profile {
    position: absolute;
    margin-top: 170px;
    margin-left: 20px;
    width: 100px;
    border-radius: 50px;
}

.artistpage .artist-background {
    width: 100%;
    height: auto;
    border-radius: 0;
}

.artistpage .profile-name {
    margin-top: 20px;
    padding: 20px 20px;
    border-bottom: 1px solid #eee;
}

.artistpage .profile-name p {
    margin-bottom: 0;
    font-weight: bold;
}

.artistpage .body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 0;
    width: 100%;
    height: 53%;
    overflow-y: scroll;
}

.artist-msg {
    position: relative;
    user-select: none;
    cursor: pointer;
}

.artist-msg p {
    position: absolute;
    margin: 5px;
    right: 0;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.artist-msg img {
    width: 129.38px; /* 16:9 */
    height: 230px; /* 16:9 */
    object-fit: cover;
    border: none;
    cursor: pointer;
}

.artist-msg video {
    width: 129.38px; /* 16:9 */
    height: 230px; /* 16:9 */
    border: none;
    background-color: black;
    cursor: pointer;
}