.artistpage {
  position: relative;
  grid-row: 2 / 3;
  aspect-ratio: 9/16;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #fff;
  overflow-y: scroll;
  overflow: overlay;
}

.artistpage .header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

.artistpage-body {
  display: grid;
  grid-template-rows: 38% auto;
  grid-auto-flow: column;
  width: 100%;
  height: 100%;
}

.artistpage-body .top {
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 65% 30%;
  grid-auto-flow: column;
  width: 100%;
  height: 100%;
}

.artistpage .artist-profile {
  position: absolute;
  margin-top: 32%;
  margin-left: 20px;
  width: 25%;
  max-width: 100px;
  border-radius: 50px;
}

.artistpage .artist-background {
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
}

.artistpage .artist-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artistpage .profile-name {
  grid-row: 2 / 3;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 0 10px 20px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #eee;
  background-color: white;
}

.artistpage .profile-name.profile-empty {
  padding: 0;
  border: none;
}

.artistpage .profile-name p {
  margin: 0;
  font-size: 2em !important;
  font-weight: bold;
}

.artistpage .artist-body {
  grid-row: 2 / 3;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin: 0;
  padding: 0 5px 5px 5px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow: overlay;
  /* scrollbar-gutter: stable both-edges; */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Safari, Chrome, Firefox */
}

.artistpage .artist-body::-webkit-scrollbar {
  display: none; /* Old Safari and Chrome */
}

.artistpage .artist-body > div {
  gap: 5px;
}

.artistpage .artist-body > .flex-row {
  width: 100%;
}

.artist-msg {
  position: relative;
  /* width: 100%; */
  width: calc(33% - 2.5px);
  aspect-ratio: 9 / 16;
  cursor: pointer;
}

.artist-msg:hover {
  opacity: 0.8;
}

.artist-msg .spinner-container {
  width: 100%;
  height: auto;
  aspect-ratio: 9 / 16;
  background-color: #eee;
}

.artist-msg p {
  position: absolute;
  margin: 5px;
  right: 0;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.artist-msg img {
  object-fit: cover;
}

.artist-msg video {
  background-color: black;
}

.artist-msg img,
.artist-msg video {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  border: none;
}

.artist-msg img.hidden,
.artist-msg video.hidden {
  position: absolute;
}

.artist-msg img:not(.hidden),
.artist-msg video:not(.hidden) {
  cursor: pointer;
}

@media (max-height: 620px) or (max-width: 350px) {
  .artistpage .artist-profile {
    margin-top: 25%;
  }

  .artistpage .profile-name {
    padding-bottom: 5px;
    font-size: 0.8em;
  }

  .artist-msg p {
    font-size: 0.7em;
  }
}
