.msg-img {
  z-index: 500;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.msg-img img {
  width: 80%;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.msg-img button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}

.msg-img button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

@media (max-height: 620px) {
  .msg-img img {
    width: 60%;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
}
