.fromm.profile-media {
  position: relative;
}

.fromm .profile-history {
  display: grid;
  grid-template-rows: 24% 3% 35% 3% 35%;
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow: overlay;
  user-select: none;
}

.fromm .profile-history .profile-block {
  display: grid;
  grid-template-rows: 20% 5% 75%;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  overflow-y: scroll;
  overflow: overlay;
}

.fromm .profile-block .profile-header {
  grid-row: 1 / 2;
  width: 100%;
}

.fromm .profile-block .profile-body {
  grid-row: 3 / 4;
  padding: 0;
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  overflow: overlay;
}

.fromm .profile-history .profile-text {
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
}

.fromm .profile-text .profile-text-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow: overlay;
}

.fromm .profile-text .profile-text-list > div {
  display: grid;
  grid-template-columns: 30% auto;
  grid-auto-flow: row;
  border-radius: 10px;
  padding: 5px 10px;
  width: 100%;
  background-color: var(--fromm-chat-text);
  user-select: all !important;
}

.fromm .profile-text .profile-text-list > div:not(:last-child) {
  margin-bottom: 10px;
}

.fromm .profile-text .profile-text-list .profile-name {
  grid-column: 1 / 2;
  margin-right: 10px;
  border-radius: 5px;
  padding: 2px 0;
  background-color: #fff;
  font-weight: bold;
}

.fromm .profile-text .profile-text-list .profile-description {
  grid-column: 2 / 3;
  justify-content: flex-start;
  align-items: center;
}

.fromm .profile-history .profile-profile {
  grid-row: 3 / 4;
}

.fromm .profile-history .profile-bg {
  grid-row: 5 / 6;
}

.fromm .profile-profile .profile-img-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4%;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow: overlay;
}

.fromm .profile-img-list .profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 22%;
  aspect-ratio: 1 / 1;
  background-color: #000;
  cursor: pointer;
}

.fromm .profile-img-list .profile-img img {
  border-radius: 5px;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.fromm .profile-img-list .profile-img img:hover {
  opacity: 0.8;
}
