.fab .chat {
  width: 100%;
  height: 100%;
}

.chat > .block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.chat > .block:not(:first-child) {
  margin-top: 15px;
}

.chat > .block > .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.chat > .block > .right {
  margin-left: 7px;
}

.chat > .block > .block-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.chat > .block > .block-top > .notice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  background-color: #d5d5d9;
  color: #fff;
}

.chat > .block .message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
  max-width: 80%;
}

.chat > .block .time {
  margin: 5px 0 0 48px;
  font-size: 10px;
  color: #969696;
}

@media (max-height: 620px) {
  .chat > .block .time {
    font-size: 0.875em;
  }
}
