.fab .bubble {
  border-radius: 18px 18px 18px 2px;
  padding: 13px 14px;
  background-color: #fff;
  font-size: 14px;
  color: #000;
  max-width: 230px;
  /* white-space: normal; */
  word-wrap: break-word;
}

.fab .bubble.voice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #d5d5d9;
  color: #c1c1c7;
}

/* .bubble.notice {
    background-color: #D5D5D9;
    color: #fff;
} */

.fab .bubble .bubble-reply {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f1f2;
  font-size: 14px;
  color: #555555;
}

.bubble-emoji {
  font-size: 40px;
  margin: 0;
}

.bubble p {
  margin: 0;
}

.bubble.voice p {
  margin-left: 5px;
}

.bubble.voice.audio {
  padding: 0;
  background-color: #fff;
}

.bubble.voice audio {
  height: 42.5px;
}

.bubble.voice audio::-webkit-media-controls-panel {
  font-size: 14px;
  background-color: #fff;
}

/* audio::-webkit-media-controls-mute-button
audio::-webkit-media-controls-play-button
audio::-webkit-media-controls-timeline-container
audio::-webkit-media-controls-current-time-display
audio::-webkit-media-controls-time-remaining-display
audio::-webkit-media-controls-timeline
audio::-webkit-media-controls-volume-slider-container
audio::-webkit-media-controls-volume-slider
audio::-webkit-media-controls-seek-back-button
audio::-webkit-media-controls-seek-forward-button
audio::-webkit-media-controls-fullscreen-button
audio::-webkit-media-controls-rewind-button
audio::-webkit-media-controls-return-to-realtime-button
audio::-webkit-media-controls-toggle-closed-captions-button */

@media (max-height: 620px) {
  .fab .bubble {
    border-radius: 13px 13px 13px 2px;
    padding: 9px 11px;
    max-width: 130px;
    font-size: 0.875em;
  }
}
