.profile > img {
  width: 45px;
  border-radius: 100px;
}

.profile > .star {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin-left: 30px;
  margin-top: 30px;
  width: 17px;
  height: 17px;
  padding-top: 1px;
  padding-left: 1px;
  background-color: #8457dd;
  font-size: 10px;
  color: white;
}

@media (max-height: 620px) or (max-width: 350px) {
  .profile > img {
    width: 35px;
  }
}

@media (max-height: 475px) {
  .profile > img {
    width: 30px;
  }
}
