.rich-text-big {
  font-size: 14px;
}

.rich-text-small {
  font-size: 10px;
}

.rich-text-red {
  color: #ed4032;
}

.rich-text-blue {
  color: #3e8dec;
}

.rich-text-green {
  color: #58ba36;
}

.rich-text-pink {
  color: #ea3bc9;
}
