.navbar {
  grid-row: span 1 / span 1;
  gap: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.navbar-menu {
  flex-grow: 1;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.navbar-menu h3 {
  margin: 0;
}

.menu-vlive {
  background: linear-gradient(
    135deg,
    rgba(134, 244, 253, 1) 0%,
    rgba(120, 159, 248, 1) 100%
  );
}

.menu-vlive:hover {
  background: linear-gradient(
    135deg,
    rgba(134, 244, 253, 0.7) 0%,
    rgba(120, 159, 248, 0.7) 100%
  );
}

.menu-fab {
  background: linear-gradient(
    135deg,
    rgba(96, 86, 201, 1) 0%,
    rgba(236, 115, 159, 1) 100%
  );
}

.menu-fab:hover {
  background: linear-gradient(
    135deg,
    rgba(96, 86, 201, 0.7) 0%,
    rgba(236, 115, 159, 0.7) 100%
  );
}

.menu-fromm {
  background: linear-gradient(
    135deg,
    rgba(251, 72, 102, 1) 0%,
    rgba(251, 117, 76, 1) 100%
  );
}

.menu-fromm:hover {
  background: linear-gradient(
    135deg,
    rgba(251, 72, 102, 0.7) 0%,
    rgba(251, 117, 76, 0.7) 100%
  );
}
