.vlive.chat-page {
  justify-content: space-between !important;
  height: 100%;
}

.vlive .chats {
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px 0;
  width: 100%;
  height: 100%;
  overflow: overlay;
  overflow-y: scroll;
}


@media (max-height: 620px) {
  .vlive .chats {
    padding: 10px 0;
  }
}
