.chat-list {
    height: 100%;
}

.chat-list>.chat-list-block {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 0px 20px;
    padding: 20px;
    background-color: #f1f0f4;
}

.chat-list>.chat-list-block:hover {
    background-color: #cfcdd4;
    cursor: pointer;
}

.artist-list {
    flex-grow: 3;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.artist-list-img {
    margin: 10px;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.artist-search {
    padding: 10px;
    border-top: 1px solid #ccc;
    width: 85%;
    height: 25%;
}

.artist-search select {
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.artist-search .search-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.artist-search input {
    flex-grow: 2;
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.artist-search button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    width: auto;
    background-color: #ddd;
    font-size: 16px;
    cursor: pointer;
}

.artist-search button:hover {
    background-color: #bbb;
}