/* Dark: 8457DD */
/* Light: E1DDED */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(30, 30, 30);
}

.mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50.63%;
  height: 90%;
  min-width: 390px;
  min-height: 693.33px;
  max-width: 400px;
  max-height: 711.11px;
  background-color: #F5F4F5;
}

.mobile.mobile-chat {
  justify-content: flex-start;
}

.mobile>.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #FFF;
  user-select: none;
}

.header>.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
}

.mobile.mobile-chat .block .top>.date {
  margin-right: 20px;
}

.header>.top>.top-icon {
  font-size: 18px;
}

.header>.top>.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header>.top>.text>.header-title {
  font-size: 14px;
  font-weight: bold;
}

.mobile>.body {
  width: 100%;
  height: calc(100% - 60px);
  background-color: #F5F4F5;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
