.App-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 30, 30);
  width: 100vw;
  height: 100vh;
}

.App {
  display: grid;
  grid-template-rows: repeat(12, minmax(0, 1fr));
  grid-auto-flow: column;
  aspect-ratio: 9/16;
  height: 80%;
}

.mobile {
  grid-row: 2 / span 12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background-color: var(--fab-bg);
}

.mobile.mobile-chat {
  justify-content: flex-start;
}

.mobile.mobile-chat .block .top > .date {
  margin-right: 20px;
}

.mobile > .body {
  width: 100%;
  height: calc(100% - 54.93px);
  /* height: 100%; */
  background-color: var(--light-gray1);
}

.App-link {
  color: #61dafb;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-none {
  user-select: none;
}

.hidden {
  visibility: hidden;
}

.horizontal-line {
  margin: 10px 0 20px;
  border-bottom: 1px solid #fff;
  width: 100%;
  text-align: center;
  line-height: 0.1em;
  user-select: none;
}
