.App-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 30, 30);
  width: 100vw;
  height: 100vh;
}

.App {
  display: grid;
  grid-template-rows: 60px auto;
  grid-auto-flow: column;
  aspect-ratio: 1/2;
  height: 80%;
}

.App-link {
  color: #61dafb;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-none {
  user-select: none;
}

.hidden {
  visibility: hidden;
}

.horizontal-line {
  margin: 10px 0 20px;
  border-bottom: 1px solid #fff;
  width: 100%;
  text-align: center;
  line-height: 0.1em;
  user-select: none;
}

.not-found {
  margin: 300px 0;
  letter-spacing: 1px;
  text-align: center;
}

.empty-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
}

@media (max-height: 800px) {
  .App {
    width: 95%;
    height: auto;
  }
}
